div.left
{
	float: left;
	width: 90px;
}

div.right
{
	
}

.pair_invalid
{
	margin-left: 10px;
	color: red;	
}

div.pair
{
	margin: 8px;
}

div.list_horizontal
{
	float: left;
	margin: 5px;
}

